.container {
  width: 100%;
}

.header {
  display: flex;
}

.tab {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid lightblue;
  &:first-child {
    border-top-left-radius: 5px;
  }
  &:last-child {
    border-top-right-radius: 5px;
  }
  &:hover {
    transform: translateY(1px);
  }
  &.active {
    background-color: lightblue;
    color: black;
  }
}

.content {
  padding: 1rem;
  border: 1px solid lightblue;
}
