.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.bin {
  cursor: pointer;
  &:hover {
    color: red;
    scale: 1.05;
  }
}

.isLoading {
  cursor: not-allowed;
  color: lightgray;
  &:hover {
    color: lightgray;
  }
}
