.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.bin {
  cursor: pointer;
  &:hover {
    color: red;
    scale: 1.05;
  }
}

.caretLeft,
.caretRight {
  color: lightgray;
  cursor: pointer;
  &:hover {
    color: #009879;
    scale: 1.2;
  }
}

.isLoading {
  cursor: not-allowed;
  color: rgb(211 211 211 / 0.5);
  &:hover {
    color: rgb(211 211 211 / 0.5);
    scale: 1;
  }
}
