.full {
  width: 100%;
}

.ctaArea {
  display: flex;
  align-items: center;
}

.table {
  border-collapse: collapse;
  margin: 1.5625rem 0;
  font-size: 1em;
  font-family: sans-serif;
  min-width: 25rem;
  box-shadow: 0 0 1.125rem rgba(0, 0, 0, 0.15);

  & thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;

    & .header {
      display: flex;
      cursor: pointer;
      &:hover .sortAsc,
      &:hover .sortDesc {
        scale: (1.2);
        transform: translateY(2px);
      }
    }
  }

  & th,
  & td {
    padding: 0.75rem 1rem;
  }

  & tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  & tbody tr:nth-of-type(odd) {
    background-color: var(--bg-color-inverse);
  }

  & tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  & tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
}

.sortAsc,
.sortDesc {
  transition: all ease-in-out 0.2s;
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  margin: 4px 4px 0 3px;
  background: transparent;
}

.sortAsc {
  border: solid 5px transparent;
  border-bottom: solid 7px #f80;
  border-top-width: 0;
}

.sortDesc {
  border: solid 5px transparent;
  border-top: solid 7px #f80;
  border-bottom-width: 0;
}
